PORT=3003
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=login_registr

JWT_SECRET=OlMaBog'DaPishadir

# OTP email (SMTP)
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@yourdomain.com


# Google OAuth
GOOGLE_CLIENT_ID=Your_Google_Client_id
GOOGLE_CLIENT_SECRET=Your_Google_Client_Secret
SESSION_SECRET=Your_Google_Session_Secret


